body {
	font-size: 100%;
}

.test {
	background-color: rgb(200, 200, 200);
	padding: 10px;
}

.test button {
	margin: 0 10px 0 4px;
	padding: 10px;
	color: white;
	border: 1px solid black;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	font-family: Verdana;
	font-size: 1em;
	font-weight: bold;
	box-shadow: 1px 3px 1px 1px rgba(0,0,0,0.5);
}

.test button:active {
	box-shadow: 2px 1px 1px 1px rgba(0,0,0,0.5);
	transform: translateY(3px);
}

#first-button {
	background-color: rgb(90%, 25%, 25%);
}
#first-button:hover { background-color: rgb(100%, 0%, 0%); }


#second-button {
	width: 120px;
	background-color: rgb(0%, 80%, 20%);
}
#second-button:hover { 
	background-color: rgb(0%, 85%, 10%);
}
#second-button span {
	position: relative;
	transition: 0.5s;
}
#second-button span:after { 
	content: ' »';
	position: absolute;
	opacity: 0;
	right: -20px;
	transition: 0.5s;
}
#second-button:hover span {
	padding-right: 20px;
}
#second-button:hover span:after {
	opacity: 1;
	right: 0px;
}

#third-button {
	background-color: rgb(25%, 25%, 90%);
}
#third-button:hover { background-color: rgb(0%, 0%, 100%); }